html{
     background-color:white;
     display: flexbox;
}

/*header{
     background-color: blue;
     text-align: center;
     margin: 10;
}*/

nav{
   
   background-color: gray;
   color:white;
   text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}

nav li a{
     display: block;
     color: white;
     padding: 14px 16px;
     text-decoration: none;
}

nav li a:hover{
     background-color: black;
}

body{
     /*background-color: lightblue;*/
     text-align: left;
     margin: 0;
     padding: 0;
}