html{
     background-color:white;
     display: flexbox;
     margin: 0;
     padding: 0;
}

body{
     min-height: 100vh;
     text-align: left;
     margin: 0;
     padding: 0;

}

nav{
   
   background-color: gray;
   box-shadow: 3px 3px 3px rgb(45, 44, 44, 0.4);
   width: 100%;
   color:white;
   text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: flex-end;
}

nav ul{
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
}

nav li{
     height: 50px;
}

nav li a{
     display: flex;
     color: white;
     padding: 0 30px;
     text-decoration: none;
     align-items: center;
     height: 100%;
}

nav li a:hover{
     background-color: black;
}
/*
nav li:first-child{
     margin-right: auto;
}
*/
.sidebar{
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 150px;
     z-index: 999;
     background-color: gray;
     backdrop-filter: blur(10px);
     box-shadow: -5px 1px 3px rgb(45, 44, 44, 0.4);
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
}

.sidebar li{
     width: 100%;
}

.sidebar a{
     width: 100%;
}

.menu-button{
     display: none;
}

@media(max-width: 800px){
     .phonehide{
          display: none;
     }

   .menu-button{
          display: block;
     }
}

@media(max-width: 400px){
     .sidebar{
          width: 100%;
     }
}
