/*This is the main file that houses the majority of selectors and their values for the web pages.
There are inline properties and values on certain pages, as all the pages to do not share the same setup
Flexbox is used FOR ITS responsive design allowing adjustment between different sized displays*/

/*properties and values for the entirety of the .html files*/
html{
     background-color:white;
     margin: 0;
     padding: 0;
     height: 100%;
     box-sizing: border-box;
}
/* P&V for all the visible contents*/
body{
     min-height: 100vh;
     margin: 0;
     padding: 0;
     position: relative;
     padding-bottom: 70px;
     box-sizing: inherit;
}
/*Values for the Concept page paragraphs*/
.concept_p{
     margin-top: 20px;
     text-indent: 0;
     margin-bottom: 50px;
}
/*Font and margin values for everything in the "Main" element*/
main{
     font-family: Verdana;
     margin: auto;
}
/*values for the headings on each page...set padding between top navbar and heading*/
main h2{
     text-align: center;
     color: rgb(11, 128, 167);
     padding-top: 125px;
     margin: auto;
}
/*values for the parapgraphs in the main element*/
main p{
     margin: auto;
     width: 90%;
     margin-top: 40px;
     text-indent: 50px;
     line-height: 1.6;
     margin-bottom: 100px;
}
/*values for the un-ordered list element in main */
main ul{
     padding-top: 20px;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}
/* granular values over the list */
main li{
     line-height: 30px;
     text-align:left;
     width: 90%;
     margin-right: auto;
}
/*Mains heading 4 values*/
main h4{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}
/*Secondary section values used on certain pages that fall out of the scope of the main element*/
section{
     margin: auto;
}
/*H2 values in the section element*/
section h2{
     text-align: center;
     color: rgb(11, 128, 167);
     font-family: Verdana; 
     margin: auto;
}
/*Un-ordered list value in the section element*/
section ul{ 
     width: 90%;
     font-family: Verdana;
     margin: auto;
     margin-top: 50px;
     margin-bottom: 100px;

}
/*Granular list P&V's in the section element of the index page*/
section li{
     line-height: 30px;
     width: 90%
}
/*Shared values for all pages in the bottom footer element*/
footer{
     height: 70px;
     width: 100%;
     display: flex;
     background-color: gray;
     align-items: center;
     justify-content: center;
     bottom: 0;
     right: 0;
     left: 0;
     padding: 0;
     position: absolute
}
/*Footer text color*/
footer h3{
     color: white;
}
/*Footer anchor link: (remove underline and change font look)*/
footer a{
     text-decoration: none;
     font-family: Verdana
}
/*P&V's of the tables,table headers, and table data*/
table,th,td{
     border: 2px solid black;
     border-collapse: collapse;
}
/*Value specific to table headers*/
table th{
     background-color: rgb(200, 195, 195)  
}
/*Values for the (ID selector "logo") which is the KSU image on the navbar*/
#logo{
     margin-top: auto;
     align-items: center;
     padding-left: 20px;
}
/*P&V's for the navbar on top of every page*/
nav{
   background-color: gray;
   box-shadow: 3px 3px 3px rgb(45, 44, 44, 0.4); /*horizontal navbar effect*/
   width: 100%;
   height: 70px;
   color: white;
   text-align: center;
   list-style-type: none;
   top: 0;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   position: fixed;
}

nav ul{
     width: 100%;
     list-style-type: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     text-align: center;
}

nav li{
     height: 50px;
     border-right: 1px solid black;
}
/*Value specific to the navbar list which removes the vertical border from the last and second to last list choices*/
nav li:last-child, nav li:nth-last-child(2){
     border-right: none;
}
/*values effecting the different anchors that make up the navbar choices*/
nav li a{
     display: flex;
     color: white;
     padding: 0 15px;
     text-decoration: none;
     align-items: center;
     height: 100%;
     font-family: Verdana;
}
/*value that sets the color of the hover background when the mouse hovers over an anchor in the navbar */
nav li a:hover{
     background-color: black;
}
/*Vertical navbar values used when seen on a smaller display such as a phone*/
.sidebar{
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 140px;
     z-index: 999;  /*ensures the menu sits on top of everything on the webpage*/
     background-color: gray;
     opacity: 0.9;
     box-shadow: -5px 1px 3px rgb(45, 44, 44, 0.4);
     display: none;
     flex-direction: column; /*value used, as the menu when seen on smaller diplays is in vertical form*/ 
     align-items: flex-start;
     justify-content: flex-start;
}

.sidebar li{
     width: 100%;
}

.sidebar a{
     width: 100%;
     color: white;
}
/*This class is normally hidden from display, being dependent on other criteria*/
.menu-button{
     display: none;
}
/*Different style based on viewing size*/
@media(max-width: 800px){
     .phonehide{               /*hides all the horizontal navbar choices when on smaller displays*/
          display: none;
     }

   .menu-button{
          display: block;
     }

    #logo{
         padding-left: 10px;
     }
}
/*Different style based on viewing size*/
@media(max-width: 400px){
     .sidebar{                /*when the display is 400px or less vertical menu should take up 100% of the viewing area*/
          width: 100%;
     }
}
/*Values for the main quiz container */
#quiz{
     background: rgb(230, 228, 228);
     display: flex;
     margin-right: auto;
     margin-left: auto;
     margin-top: 75px;
     margin-bottom: 100px;
     flex-direction: column;
     justify-content: center;
     max-width: 700px;
     border-radius: 15px;
     padding: 30px;
     
}
/*Values that alter the look of the answer options per question*/
.option{
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     margin-bottom: 10px;
     padding-left: 15px;
}

.option label{
     padding-left: 15px;
}


/*Creative look of the the submit and restart buttons*/
#quiz button{
     background-color: white;
     color: black;
     width: 100px;
     height: 35px;
     border: solid 1px black;
     border-radius: 12px;
}
/*Container that the buttons reside in and its properties*/
#button_container{
     display: flex;
     justify-content: center;
     gap: 30px;
     margin-top: 30px;
}
/*Button hover effects*/
#quiz button:hover{
     background-color: rgb(11, 128, 167);
     color: white;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
     transition-duration: 0.4s;
     cursor: pointer;
}
/*Visual look of each of the 5 question containers*/
.question{
     background-color: rgb(194, 200, 201);
     border: solid 1px black;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;
     border-radius: 12px;
     padding-bottom: 20px;
}
/*Question header visuals*/
.question h3{
     text-align: center;
     margin-bottom: 75px;
     margin-top: 40px;
     text-decoration: underline;
}
/*Question paragraph visuals*/
.question p{
     width: 90%;
     text-indent: 0;
     margin-bottom: 75px;
}
/*Result drop down container*/
#result {
    margin-top: 0;
    padding: 20px;
    border-radius: 12px;
}
/*header3 visual in the dropdown container*/
#result h3{
     font-size: x-large;
     text-align: center;
     margin-bottom: 60px;
     color: rgb(11, 128, 167);
     text-decoration: underline;
}
/*header4 visual in the dropdown container*/
#result h4{
     font-size: large;
     margin-top: 50px;
     margin-bottom: 7px;
     color: rgb(11, 128, 167);
}
/*header5 visual in the dropdown container*/
#result h5{
     font-size: large;
     margin: auto;
     width: 90%;
}
/*paragraph visual in the dropdown container*/
#result p{
     font-size: medium;
     margin: auto;
}
/*Changes the look of Question 4's text box on the quiz page */
input[type=text] {
     margin-left: 15px;
     border: 1px solid black;
     border-radius: 4px;
}
/*pushes the radio options on the quiz page over to the right*/
input[type=radio] {
     margin-right: 8px;

}
/*Pushes the checkboxes on the quiz page over to the right */
input[type=checkbox] {
     margin-right: 8px;
}
/*color for the footer anchor-link*/
footer a:link{
     color: rgb(253, 187, 48);
}
/*keeps the color of the footer anchor the same even after visited*/
footer a:visited{
     color: rgb(253, 187, 48);
}
/*changes the color of the footer anchor when the mouse hovers over*/
footer a:hover{
     color: red;
}
/*variables that effect the look of the links located on the Reference page*/
main a{
     text-decoration: none;
     font-weight: bold;

}
/*color for the Reference page links*/
main a:link{
     color: blue;
}
/*color for the Reference page links when visited*/
main a:visited{
     color: blue;
}
/*color for the Reference page links when the mouse hovers over*/
main a:hover{
     color: red;
}
/*variables that effect the look of the links of the Table of Contents located on the Index page*/
section a{
     text-decoration: none;
     font-weight: bold;
}
/*color for the Index page links*/
section a:link{
     color: blue;
}
/*color for the Index page links when visited*/
section a:visited{
     color: blue;
}
/*color for the Index page links when the mouse hovers over*/
section a:hover{
     color: red;
}

